@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #E6F1EB;
}

.text-disable {
  color: #738F86;
}
.btn {
  min-height: 24px;
  min-width: 109px;
  border-radius: 5px;
}
.btn-outline {
  border: 1px solid #053126;
}
.btn-secondary {
  background-color: #E6F1EB;
  color: #053126;
}
.btn-primary {
  background-color: #053126;
  color: #E8F1EB;
}
.btn-disabled {
  background-color: #C5DBDC;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* En tu archivo CSS */
@keyframes spin {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -720;
  }
}

.circle {
  animation: spin 5s linear infinite;
}

.background-tx {
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-login {
  /* background-image: url("../assets/background/topographic--dark.svg"); */
  background-image: url('../assets/background/topographic--dark.svg');
  background-size: cover;
  background-repeat: no-repeat;
}